*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    border: 6px solid orange;
    height: 129px;
    display: flex;
    font-size: 38px;
    align-content: center;
    align-items: center;
    color: white;  
    flex-direction: row;
    padding: 3%;
    
    
}
    
nav :first-child {
    
    display: flex;
    background-color: #7133FF;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 50%;
    flex-basis: 25%;
   
    
}

nav :nth-child(2) {
    
    display: flex;
    background-color: #33ECFF ;
    align-items: center; 
    width: 100%;  
    justify-content: center; 
    height: 50%;

}

nav :last-child {
    
    display: flex;
    background-color: #FF5533 ;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50%;
       
}