*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    border: 6px solid orange;
    height: 73px;
    display: flex;
    font-size: 38px;
    justify-content: space-between;
    color: white;  
    
}
    
nav .nav-option {
display: flex;

}

nav .option { 
    display: flex;
    align-items: center;
    width: 170px;
    justify-content: center;
}

nav .contact {   
    background-color: red;   
}

nav .careers {   
    background-color: blue; 

}

nav .about {   
    background-color: green; 
}