// variables
$tablet: 764px;
$desktop: 1024px;
$desktop-wide: 1160px;
// colores
$pc: #5851E9; 
$sc: #1F10FE; 
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
div{
  box-sizing: content-box;
}
button{
  padding: 16px;
  color: #fff;
  background-color: $pc;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  @media only screen and (min-width: $tablet){
    cursor: pointer;
    &:hover{
      background-color: $sc;
      color: white;
    }
  }
}

main{
    @media only screen and (min-width: $tablet){
    display: flex;
    }
    .picture-zone{
        background-color: #555;
        @media only screen and (min-width: $tablet){
            width: 40%;
            height: 100vh;
         }
         .linea{
             color: white;
             text-align: center;
             font-size: 24px;
             margin-top: 48px;
             display: none;
         }
    }
    .ahorcado-zone{
        padding: 24px
    }
    h3{
        margin-top: 24px;
        color: $sc;
        font-size: 16px;
    }
    .hint{
        color: #a2a2a2;
        margin-top: 4px
    }

}
.words{
    font-size: 24px;
}
.form{
    margin-top: 48px;
    input[type=text]{
        padding: 10px 16px;
        border:1px solid #a2a2a2;
        border-radius: 4px;
        width: 52px;
        line-height: 14px;
        font-size: 24px;
        float: left;
        text-align: center;
    }
    button{
        float: left;
        margin-left: 8px;
    }
}
.hangman{
    height: 258px;
    width: 110px;
    margin: 0 auto;
    div {
        background-color: #fff;
        &.base{
            width: 100px;
            height: 3px;
            opacity: 0;

        }
        &.columna{
            width: 3px;
            height: 150px;
            margin-left: 47px;
            opacity: 0;
        }
        &.palo{
            width: 60px;
            height: 3px;
            margin-left: 47px;
            opacity: 0;
        }
        &.lazo{
            width: 3px;
            height: 10px;
            margin-left: 104px;
            top: 13px;
            position: relative;
            opacity: 0;
        }
        &.cabeza{
            height: 24px;
            width: 24px;
            border-radius: 50%;
            border: 3px solid #fff;
            position: relative;
            top: 53px;
            margin-left: 90px;
            opacity: 0;
            .ojo-d, .ojo-i{
                position: absolute;
                border-radius: 50%;
                height: 6px;
                width: 6px;
                background-color: #555;
                top: 5px;
            }
            .ojo-d{
                right: 2px;
            }
            .ojo-i{
                left: 3px;
            }
            .boca{
                background-color: #555;
                height: 8px;
                width: 16px;
                border-radius: 50%;
                position: absolute;
                top: 13px;
                left: 4px;
            }
            .lengua{
                position: absolute;
                background-color: red;
                top: 18px;
                left: 12px;
                height: 8px;
                width: 6px;
                border-radius: 6px;
                transform: rotate(-32deg);
            }
        }
        &.tronco{
            width: 3px;
            height: 50px;
            position: relative;
            top: 133px;
            margin-left: 104px;
            opacity: 0;
        }
        &.brazo-d, &.brazo-i, &.pierna-i, &.pierna-d{
            width: 30px;
            height: 3px;
            border-radius: 3px;
            position: relative;
            
        }
        &.brazo-d{
            margin-left: 100px;
            top: 153px;
            opacity: 0;
        }
         &.brazo-i {
            top: 152px;
            margin-left: 79px;
            opacity: 0;
        }
        &.pierna-i{
            top: 200px;
            margin-left: 79px;
            opacity: 0;
        } 
        &.pierna-d{
            top: 202px;
            margin-left: 101px;
            opacity: 0;
        }
        &.brazo-d, &.pierna-d{
            transform: rotate(45deg)
        }
        &.brazo-i, &.pierna-i{
            transform: rotate(-45deg)
        }
    }
}