/* GENERAL */
* {
    /* borders y paddings forman parte del width y height */
    box-sizing: border-box; 
}
html { height: 100%; }
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    background-color: #EDE9E8;
}

main {
    width: 100%;
    flex-grow: 1;
}
.section-main {
    max-width: 50rem;
    margin: 0 auto;
}
.section-footer {
    background-color: #1DA591;
}
.section-footer-wrap {
    display: flex;
    flex-direction: row;
    max-width: 50rem;
    margin: 0 auto;
    padding: 1.5rem 0;
}
.section-footer-wrap div {
    flex-basis: 50%;
    padding-left: 5rem; 
}
.features-list {
    padding-left: 5rem; 
}
.features-list h3 {
    color: #fff;
    font-size: 1.4em;
    margin: 1.5rem 0 0.5rem;
}
.features-list ul {
    padding: 0;
    margin: 0;
}
.features-list li {
    color: #fff;
    list-style: none;
    padding: 0.1rem 0;
}
.features-list li:before {
    content:"\2713\0020";
    padding-right: 5px; 
}
.features-icon img {
    max-width: 10rem;
    margin-top: 0.5rem;
}
footer {
    width: 100%;
    background-color: #2D2D2D;
}
.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 50rem;
    margin: 0 auto;
}
.footer-menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.footer-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 1rem;
}
.footer-menu li a {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}
.footer-copyright {
    color: #fff;
    white-space: nowrap;
    margin-left: auto;
}

/* HOME */

/* ABOUT US */

/* CONTACT US */