@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");


.ffamily {
  font-family: "Montserrat", sans-serif;
}

* {
  @extend .ffamily;
  box-sizing: border-box;
}
body {
  margin: 0rem;
}

.navigation{
    border: solid 5px darkorange;
    display: flex;
    min-height: 3rem;
    margin-bottom: 1rem;
    .buttonContainer{
        display: flex;
    }
    .button{
        color: white;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        margin: 0rem;
        border: none;
        cursor: pointer;
        &.one{
            background: darkred;
        }

        &.two{
            background: darkblue;
        }

        &.three{
            background: darkgreen;
        }
    }

    &.one{
        justify-content: space-between;
    }
    &.two{
        display: block;
        .button{
            width: 100%;
        }
    }
    &.three{
        justify-content: flex-start;
    }
    &.four{
        flex-direction: column;
        align-items: center;
        .button{
            width: min-content;
        }
    }
    &.five{
        justify-content: center;
    }
    &.six{
        justify-content: flex-end;
    }
    &.seven{
        justify-content: space-between;
    }
    &.eight{
        .button{
            &.one{
                background: darkred;
            }
    
            &.two{
                background: darkblue;
                flex-grow: 1;
            }
    
            &.three{
                background: darkgreen;
                flex-grow: 1;
            }
        }
    }
}