main{
    background-color: lightblue;
    position:absolute;
    top:0;
    left:0;
    z-index:1;

    .micro_header{
        label > img{
            width:3rem;
            border-radius: 50%;
            padding-top:0.3rem;
            padding-left:0.3rem;
        }
    }
}