
.footer-home{
    max-width: 1000px;
    margin: auto;
    padding: 1em;
    display: flex;
    flex-direction: row;

}

.inner{
    width: 100%;
    justify-content: space-evenly;
}

.col-left{
    width: 100%;
    text-align: justify;
    color: rgb(255, 255, 255);
    padding: 1rem;
}

ul.ul-aside {
    list-style: none;
}
  
ul.ul-aside li:before {
    content:"\2714\0020";
    margin-right: .5rem;
}

.col-right{
    width: 100%;
    color: blue;
    justify-content: center;
    padding: 1rem;
}


.nav-footer{
    background: grey;
    color: white;
    max-width: 1200px;
    margin: auto;
}

.ul-footer{
    display: flex;
    flex-direction: column;
}