body {
    margin-bottom: 60px;
  }

  .brand {
    background-color: #3D9B87;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    padding: 5px 0 5px 30px;  
  }

  .inner-brand{
    max-width: 1200px;
    margin: auto;;
  }
  
  .bgcolor {
    background: #ccc;
  }
  
  .collapse-toggle-show,
  .collapse-toggle-hide {
    border-bottom: 1px solid;
    display: block;
  }
  .collapse-details,
  .collapse-toggle-hide,
  .collapse-toggle-show:target {
    display: none;
  }
  
  .collapse-toggle-show:target + .collapse-toggle-hide,
  .collapse-toggle-show:target ~ .collapse-details {
    display: block;
  }
  
  .collapse-toggle-show:after,
  .collapse-toggle-hide:after {
    float: right;
    content: "+";
  }
  .collapse-toggle-hide:after {
    transform: rotate(45deg) scale(1.09);
  }


   .about{
     padding: 3em;
     max-width: 1000px;
     margin: auto;
   }

   .row-about{
     display: flex;
     width: 100%;
     /*  flex-direction: column;  para  */
   }

   .col-left-about{
    width: 50%;
    padding: 2rem;
    max-width: 600px;
    margin: auto;
   }

   .col-right-about{
    width: 50%;
    padding: 2rem;
    max-width: 600px;
    margin: auto;
   }

   a.about {
    border: 1px solid #eaeaea;
    text-decoration: none;
    padding: 1.3em;
    background: #eaeaea;
    color: black;
    border-radius: 5px 5px 0 0;
    margin-bottom: 1rem;
}

   .footer-details{
      margin-bottom: 1em;
      border: 1px solid lightgray;
      padding: 1em;
   }


   @media all and (max-width: 1024px){

    .row-about{
      flex-direction: column;  
    }

   }