* {
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #F6F6F6;
    align-items: baseline;
}

/** ************* navbar *************/

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #666666;
    font-size: 20px;
    
}

.navbar li {
    list-style: none;
    padding: 1rem;
}

.navbar li a {
    text-decoration: none;
}

.navbar li:visited {
    text-decoration: none;
}

.navbar li:hover {
    background-color: #E1E1E1;
}


.logoGamma {
    color: #3D9B87;
    font-size: 30px;
    margin-left: 10%;
}

.back-photo {
    background-image: url(assets/site_showcase_bg.jpg);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/************************ HEADER ****************/
/******* new 08102019 ****************/
.advice {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
/******* new 08102019 ****************/
.advice-capture, .advice-sentence , .AppStore , .GooglePlay {
    margin: 1rem;
}
/******* new 08102019 ****************/
.logos {
    display: flex;
    flex-direction: row;
}

.GooglePlay {
    display: flex;
    justify-content: center;
}

/******* new 08102019 ****************/
.highLight {
    color: #3D9B87
}


.inner{
    display: flex;
    max-width: 1200px;
    margin: auto;
}

aside{
    background: #00B09C;
}

footer{
    background: #666666;
}

/************************ CARDS ****************/
.main-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    max-width: 1000px;
    margin: auto;
}

.main-cards .card{
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    width: 300px;
    margin: 1em;
}

.card .card-header{
    padding: 5px;
    border-bottom: 1px solid rgb(226, 226, 226);
    max-height: 17em;
}

.card .card-body{
    padding: 1rem;
}

.card .card-footer{
    padding: 1rem;
}


.btn-read{
    border: 1px solid lightgray;
    padding: 1em;
    border-radius: 5px;
    background: transparent;
}

.btn-read:hover{
    background: lightgray;
    color: black;
    cursor: pointer;
}


.footer-home{
    max-width: 1000px;
    margin: auto;
    padding: 1em;
    display: flex;
    flex-direction: row;

}

.inner{
    width: 100%;
    justify-content: space-evenly;
}

.col-left{
    width: 100%;
    text-align: justify;
    color: rgb(255, 255, 255);
    padding: 1rem;
}

ul.ul-aside {
    list-style: none;
}
  
ul.ul-aside li:before {
    content:"\2714\0020";
    margin-right: .5rem;
}

.col-right{
    width: 100%;
    justify-content: center;
    padding: 1rem;
}


.nav-footer{
    max-width: 1000px;
    padding: 1rem;
    color: white;
    margin: auto;
}

.ul-footer{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.ul-footer li {
    margin: .5rem;
}


.legal-text span{
    text-align: right;
}


/****** Tablet ********************************/
@media all and (max-width: 1024px){
    h1{
        color: red;
    }
    .main-cards{
        display: flex;
        flex-direction: row;
    }
    .main-cards .card{
        width: 33%;
        max-width: 400px;
        margin: auto;
        
    }
    .advice {
        flex-direction: column;
        align-items: center;
    }

}

/****** mobile ******************************/
@media all and (max-width: 567px){
    h1{
        color: #3D9B87;
    }
    .main-cards{
        display: flex;
        flex-direction: row;
    }

    /******* new 08102019 ****************/
    .mobil-hand {
        display: none;
    }
    /******* new 08102019 ****************/
    .logos {
        flex-direction: column;
        justify-content: center;
    
    }


}
   

