body {
    margin-bottom: 60px;
  }
  
  .bgcolor {
    background: #ccc;
  }
  
  .footer-toggle-show,
  .footer-toggle-hide {
    border-bottom: 1px solid;
    display: block;
  }
  .footer-details,
  .footer-toggle-hide,
  .footer-toggle-show:target {
    display: none;
  }
  
  .footer-toggle-show:target + .footer-toggle-hide,
  .footer-toggle-show:target ~ .footer-details {
    display: block;
  }
  
  .footer-toggle-show:after,
  .footer-toggle-hide:after {
    float: right;
    content: "+";
  }
  .footer-toggle-hide:after {
    transform: rotate(45deg) scale(1.09);
  }


   main .about{
     padding: 3em;
   }

   .row-about{
     display: flex;
     width: 100%;
     /*  flex-direction: column;  para  */
   }

   .col-left-about{
    width: 50%;
    padding: 2rem;
    max-width: 600px;
    margin: auto;
   }

   .col-right-about{
    width: 50%;
    padding: 2rem;
   }

   a.about {
    border: 1px solid grey;
    text-decoration: none;
    padding: 1.3em;
    background: grey;
    color: white;
    border-radius: 5px 5px 0 0;
    margin-bottom: 1rem;
   }

   .footer-details{
      margin-bottom: 1em;
      border: 1px solid lightgray;
      padding: 1em;
   }


   @media all and (max-width: 1024px){

    .row-about{
      flex-direction: column;  
    }
    
   }