@media all and (min-width: 0px) {
  
}

*{
  box-sizing: border-box;
}

p{
  margin: 0;
  padding: 0;
}
body{
  font-size: 30px;
}

.container-1{
  text-align: center;
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.col-1{
  flex-basis: 50%;
  background-color: #f35e5e;
  border: 1px solid black;
}

.container-2{
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.col-2{
  width: 100%;
  background-color: #f35e5e;
  border: 1px solid black;
}

.container-3{
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.col-3{
  width: 100%;
  background-color: #f35e5e;
  border: 1px solid black;
}

.container-4{
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.col-4{
  width: 100%;
  background-color: #f35e5e;
  border: 1px solid black;
}

.container-5{
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.col-5{
  width: 100%;
  background-color: #f35e5e;
  border: 1px solid black;
}

.container-6{
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.col-6{
  width: 100%;
  background-color: #f35e5e;
  border: 1px solid black;
}

@media all and (min-width: 1024px) {
  .container-1{
    flex-direction: row;
    flex-wrap: nowrap;
  }  
  
  .container-2, .container-3, .container-4, .container-5, .container-6{
    flex-direction: row;
  }

  .col-1{
    flex-basis: 16.66%;
  }

  .col-2{
    width: 33.35%;
  }
  .col-3{
    width: 50%;
  }

  .col-4{
    width: 66.70%;
  }
  .col-5{
    width: 83.33%;
  }

}