@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");

$hamburgerIconSize: 2rem;

.ffamily {
  font-family: "Montserrat", sans-serif;
}

.displayCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.displayBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

* {
  @extend .ffamily;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  margin: 0rem;
}

.navContainer {
  @extend .displayBetween;
  background: $grey;
  width: 100vw;
  padding: 1rem;
  padding-left: 4rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  .navigation {
    .navigationLinks {
      color: #383838;
      font-size: 1.125rem;
      margin-left: 1rem;
      margin-right: 1rem;
      &.active {
        color: $baseColor;
        font-size: 1.5rem;
      }
    }
    &.hamburguer {
      input {
        display: none;
        &:checked ~ label {
          .hamburgerImg {
            svg {
              fill: $baseColor;
            }
          }
        }
      }
      label {
        .hamburgerImg {
          height: $hamburgerIconSize;
          width: $hamburgerIconSize;
          svg {
            height: $hamburgerIconSize;
            width: $hamburgerIconSize;
            fill: #383838;
          }
        }
      }
    }
  }
}
.featuresContainer {
  @extend .displayCenter;
  background: $baseColor;
  width: 100vw;
  height: 25rem;

  .part {
    @extend .displayCenter;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 50%;
    .textContainer {
      .title {
        color: white;
      }
      .featuresLink {
        color: white;
        .link {
        }
      }
    }
    .featuresImage {
      background: url("../../../../../stuff/week2/challengeWebResponsive/assets/logo.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 10rem;
      height: 10rem;
    }
  }
}

.footer {
  min-height: 3rem;
  width: 100vw;
  background-color: #383838;
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  .part {
    padding-left: 3rem;
    padding-right: 3rem;
    .footerLink {
      color: white;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}

@media (max-width: 1024px) {
  .featuresContainer {
    flex-wrap: wrap;
    .part {
      width: 100vw;
    }
  }
}
