

.wrapper-hero {
  background-image: url(../images/site_showcase_bg.jpg);
}

.hero-container {
  display: flex;
  margin: 0 auto;
  width: 70%;
  

  .hero-container-left {
    color: white;
    align-content: center;
    

    h1 {
      font-size: 2.188rem;
      margin-top: 6.25rem;

      span {
        color: $greenBase;
      }
    }

    .hero-container-app {
      display: flex;
      justify-content: space-around;
      padding-top: 1rem;

      img {
        width: 50%;
      }
    }
  }

  .hero-container-right {
    padding-top: 1.875rem;

    img {
      width: 77%;
      display: block;
    }
  }
}

.wrapper-articles {
  display: flex;
  margin: 0 auto;
  width: 70%;

  .section-container {
    display: flex;
    justify-content: space-between;
    margin: 1.25rem auto;

    article {
      flex-direction: column;
      border: 1px solid #f1f1f1;
      width: 15rem;
      padding: 0.625rem 0.5rem 0.625rem;
      font-size: 0.625rem;
      

      img {
        width: 100%;
      }

      button {
        justify-content: flex-start;
        padding: 0.3125rem 0.3125rem;
        border-radius: 0.3125rem;
        width: 5rem;
        font-size: 0.625rem;
      }
    }
  }
}

.wrap-form {
 
  
    .container-form {
    width: 80%;
    margin: 1.25rem auto;
    display: flex;
    flex-direction: row;
    
    

    .left {
      width: 70%;
      padding: 0 1.25rem 0 0;

      .text-form {
        padding: 0;
        margin: 0;
      }

       .title-form {
        font-size: 0.6875rem;
        font-weight: bold;
      }

      input {
        width: 100%;
        display: block;
        margin-bottom: 0.625rem;
        height: 1.875rem;
        padding: 0.3125rem 0.625rem;
        color: grey;
        margin-top: 0.3125rem;
        border-radius: 50.3125rem;
        border: 1px solid #e8e8e8;
      }

      textarea {
        height: 3.75rem;
        width: 100%;
        border-radius: 0.3125rem;
        border: 0.0625rem solid #e8e8e8;
        margin-top: 0.3125rem;
        padding: 0.3125rem 0.625rem;
        color: grey;
      }

      .submit {
        padding: 0.3125rem 0.3125rem;
        background-color: none;
        border-radius: 0.3125rem;
        margin-top: 0.9375rem;
      }
    }



    .right {
      width: 20%;

      article {
        flex-direction: column;
        border: 0.0625rem solid #f1f1f1;
        padding: 0.625rem 0.5rem 0.625rem;
        font-size: 0.625rem;
        justify-content: flex-end;

        img {
          width: 100%;
        }

        button {
          justify-content: flex-start;
          padding: 0.3125rem 0.3125rem;
          border-radius: 0.3125rem;
          width: 5rem;
          font-size: 0.625rem;
        }
      }
    }
  }
}

.accordionContainer {
  .accordion {
    background: $grey;
    border-radius: $borderRadius;
    border: solid 1px $grey2;
    margin-bottom: 1rem;
    input {
      display: none;
      &:checked ~ .textContainer {
        @extend .growAccordion;
      }
    }
    .accordionTitle {
      cursor: pointer;
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
    }
    .textContainer {
      border-top: solid 1px $grey2;
      @extend .collapseAccordion;
      height: 0rem;
      overflow: hidden;
      .text {
        padding: 0.7rem;
        background: white;
        margin-bottom: 0rem;
      }
    }


    &:hover{
      @extend .baseShadow;
    }
  }
}


@media (max-width: 1024px) {

  
  .hero-container-app {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem;
    align-items: center;

  


    .google-play {
      margin-top: 1rem;
      
      
    }

  }

  .wrapper-hero {

   

    .hero-container-left {
      margin: -3rem 0rem 0rem 7rem;
  
    

      h1.capture {
      
        font-size: 9px;
        text-align: center;
      
      }
      
      p{
        font-size: 4px;
        text-align: center;
      }

    }
  }

  .wrapper-articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

  }
  
    .handPhone {
      visibility: hidden;
    } 
}
  
  
    
