.navContainer {
  @extend .displayBetween;
  background: $grey;
  width: 100vw;
  padding: 1rem;
  padding-left: 4rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  .navigation {
    position: relative;
    .navigationLinks {
      color: #383838;
      font-size: 1.125rem;
      margin-left: 1rem;
      margin-right: 1rem;
      &.active {
        color: $baseColor;
        font-size: 1.5rem;
      }
    }
    &.hamburguer {
      display: none;
      input {
        display: none;
        &:checked ~ nav {
          @extend .growNavHamburger;
        }

        &:checked ~ label {
          .hamburgerImg {
            svg {
              fill: $baseColor;
            }
          }
        }
      }
      label {
        .hamburgerImg {
          height: $hamburgerIconSize;
          width: $hamburgerIconSize;
          svg {
            height: $hamburgerIconSize;
            width: $hamburgerIconSize;
            fill: #383838;
          }
        }
      }

      .mobileNav {
        @extend .shrinkNavHamburger;
        position: absolute;
        right: -1rem;
        margin-top: 1rem;
        width: 10rem;
        height: 0rem;
        background: lightpink;
      }
    }
  }
}
.featuresContainer {
  @extend .displayCenter;
  background: $baseColor;
  width: 100vw;
  height: 25rem;

  .part {
    @extend .displayCenter;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 50%;
    .textContainer {
      .title {
        color: white;
      }
      .featuresLink {
        color: white;
        .link {
        }
      }
    }
    .featuresImage {
      background: url("../../../../../stuff/week2/challengeWebResponsive/assets/logo.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 10rem;
      height: 10rem;
    }
  }
}

.footer {
  min-height: 3rem;
  width: 100vw;
  background-color: #383838;
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  .part {
    padding-left: 3rem;
    padding-right: 3rem;
    .footerLink {
      color: white;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}

@media (max-width: 1024px) {
  .navContainer{
    .navigation{
      .navigationLinks{
        display: none;
        &.mobile{
          display: block;
        }
      }
      &.hamburguer {
        display: block;
      }
    }
  }
  .featuresContainer {
    flex-wrap: wrap;
    .part {
      width: 100vw;
    }
  }
}
