@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");

$hamburgerIconSize: 2rem;

.ffamily {
  font-family: "Montserrat", sans-serif;
}

.displayCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin displayBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.displayBetween {
  @include displayBetween;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

* {
  @extend .ffamily;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  margin: 0rem;
}
a{
  text-decoration: none;
}