@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
.ffamily, * {
  font-family: "Montserrat", sans-serif;
}

.displayCenter, .navContainer, .navContainer .navigation.hamburguer .mobileNavShadow .mobileNav .navigationLinksContainer .navigationLinks.mobile, .featuresContainer, .featuresContainer .part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.displayBetween, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0rem;
}

a {
  text-decoration: none;
}

.growNavHamburger, .navContainer .navigation.hamburguer input:checked ~ .mobileNavShadow {
  -webkit-animation: growHamb 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  animation: growHamb 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@-webkit-keyframes growHamb {
  0% {
    height: 0rem;
    opacity: 0;
  }
  100% {
    height: calc(100vh - 4rem);
    opacity: 1;
  }
}

@keyframes growHamb {
  0% {
    height: 0rem;
    opacity: 0;
  }
  100% {
    height: calc(100vh - 4rem);
    opacity: 1;
  }
}

.shrinkNavHamburger, .navContainer .navigation.hamburguer .mobileNavShadow {
  -webkit-animation: shrinkHamb 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  animation: shrinkHamb 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@-webkit-keyframes shrinkHamb {
  0% {
    height: 100%;
    opacity: 1;
  }
  100% {
    height: 0rem;
    opacity: 0;
  }
}

@keyframes shrinkHamb {
  0% {
    height: 100%;
    opacity: 1;
  }
  100% {
    height: 0rem;
    opacity: 0;
  }
}

.rotateIcon, .navContainer .navigation.hamburguer input:checked ~ label .hamburgerImg {
  -webkit-animation: rotateIcon 0.3s ease-in-out both;
  animation: rotateIcon 0.3s ease-in-out both;
}

@-webkit-keyframes rotateIcon {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes rotateIcon {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.rotateIcon2, .navContainer .navigation.hamburguer label .hamburgerImg {
  -webkit-animation: rotateIcon2 0.3s ease-in-out both;
  animation: rotateIcon2 0.3s ease-in-out both;
}

@-webkit-keyframes rotateIcon2 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes rotateIcon2 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

.navContainer {
  background: #eee;
  width: 100vw;
  height: 4rem;
  padding: 1rem;
  padding-left: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navContainer .navigation {
  position: relative;
}

.navContainer .navigation .navigationLinks {
  color: #383838;
  font-size: 1.125rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navContainer .navigation .navigationLinks.active {
  color: darkseagreen;
  font-size: 1.5rem;
}

.navContainer .navigation .navigationLinks.logo {
  font-size: 1.5rem;
  margin-left: 0;
}

.navContainer .navigation.hamburguer {
  display: none;
}

.navContainer .navigation.hamburguer input {
  display: none;
}

.navContainer .navigation.hamburguer input:checked ~ label .hamburgerImg svg {
  fill: darkseagreen;
}

.navContainer .navigation.hamburguer label .hamburgerImg {
  height: 2rem;
  width: 2rem;
}

.navContainer .navigation.hamburguer label .hamburgerImg svg {
  height: 2rem;
  width: 2rem;
  fill: #383838;
}

.navContainer .navigation.hamburguer .mobileNavShadow {
  position: absolute;
  right: -1rem;
  margin-top: 1rem;
  width: 100vw;
  height: 0rem;
  background: rgba(255, 255, 255, 0.2);
}

.navContainer .navigation.hamburguer .mobileNavShadow .mobileNav {
  position: absolute;
  right: 0;
  width: 70vw;
  height: 100%;
  background: white;
}

.navContainer .navigation.hamburguer .mobileNavShadow .mobileNav .navigationLinksContainer {
  list-style-type: none;
  padding: 0;
}

.navContainer .navigation.hamburguer .mobileNavShadow .mobileNav .navigationLinksContainer .navigationLinks.mobile {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  width: 100;
}

.navContainer .navigation.hamburguer .mobileNavShadow .mobileNav .navigationLinksContainer .navigationLinks.mobile:hover {
  background: darkseagreen;
  color: white;
}

.featuresContainer {
  background: darkseagreen;
  width: 100vw;
  height: 25rem;
}

.featuresContainer .part {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 50%;
}

.featuresContainer .part .textContainer .title {
  color: white;
}

.featuresContainer .part .textContainer .featuresLink {
  color: white;
}

.featuresContainer .part .featuresImage {
  background: url("../../../../../stuff/week2/challengeWebResponsive/assets/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 10rem;
  height: 10rem;
}

.footer {
  min-height: 3rem;
  width: 100vw;
  background-color: #383838;
  position: fixed;
  bottom: 0;
}

.footer .part {
  padding-left: 3rem;
  padding-right: 3rem;
}

.footer .part .footerLink {
  color: white;
  font-size: 0.875rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.flexSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .navContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 1rem;
  }
  .navContainer .navigation .navigationLinks {
    display: none;
  }
  .navContainer .navigation .navigationLinks.mobile {
    display: block;
    color: darkseagreen;
    font-size: 1.5rem;
    margin-left: 0;
  }
  .navContainer .navigation.hamburguer {
    display: block;
  }
  .featuresContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .featuresContainer .part {
    width: 100vw;
  }
  .footer {
    display: block;
  }
  .footer .part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
  }
}

.wrapper-hero {
  background-image: url(../images/site_showcase_bg.jpg);
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  width: 70%;
}

.hero-container .hero-container-left {
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero-container .hero-container-left h1 {
  font-size: 35px;
  margin-top: 100px;
}

.hero-container .hero-container-left h1 span {
  color: #32a88d;
}

.hero-container .hero-container-left .hero-container-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero-container .hero-container-left .hero-container-app img {
  width: 36%;
}

.hero-container .hero-container-right {
  padding-top: 30px;
}

.hero-container .hero-container-right img {
  width: 77%;
  display: block;
}

.wrapper-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  width: 70%;
}

.wrapper-articles .section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px auto;
}

.wrapper-articles .section-container article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #f1f1f1;
  width: 28%;
  padding: 10px 8px 10px;
  font-size: 10px;
}

.wrapper-articles .section-container article img {
  width: 100%;
}

.wrapper-articles .section-container article button {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5px 5px;
  border-radius: 5px;
  width: 80px;
  font-size: 10px;
}

.wrap-form .container-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 20px auto;
}

.wrap-form .container-form .left {
  width: 70%;
  padding: 0 20px 0 0;
}

.wrap-form .container-form .left p {
  padding: 0;
  margin: 0;
}

.wrap-form .container-form .left label {
  font-size: 11px;
  font-weight: bold;
}

.wrap-form .container-form .left input {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  height: 30px;
  padding: 5px 10px;
  color: grey;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
}

.wrap-form .container-form .left textarea {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  margin-top: 5px;
  padding: 5px 10px;
  color: grey;
}

.wrap-form .container-form .left button {
  padding: 5px 5px;
  background-color: none;
  border-radius: 5px;
  margin-top: 15px;
}

.wrap-form .container-form .right {
  width: 30%;
}

.wrap-form .container-form .right article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #f1f1f1;
  padding: 10px 8px 10px;
  font-size: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrap-form .container-form .right article img {
  width: 100%;
}

.wrap-form .container-form .right article button {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5px 5px;
  border-radius: 5px;
  width: 80px;
  font-size: 10px;
}
/*# sourceMappingURL=core.css.map */