* {
    box-sizing: border-box;
  }
  
body {
    font-size: 62.5%;
}
  
/*.menu-button {
    display: none;
}*/

.burger {
    display:block;
    width: 3.4em;
    height: 2.4em;
}

.burger hr {
    color: #327D6A;
    height: .3em;
    border: 0;
    background: #327D6A;
}



.burger-shower {
    display: none;
}

body.menu-box input:checked ~ body h1{
    color:blue;

}
