#content{
    display: flex;
    flex-basis: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#box{
    background-color: blueviolet;
    color: white;
    font-size: 25px;
    width: 150px;
    padding:3%;
    text-align: center;
    margin:auto;
    /* corrected, with margin auto, flexbox immediately makes perfect centered elements. */
}