@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea,
select,
input,
button {
  outline: none;
}

.myShadow, .beerFullContainer .singleBeer:hover {
  -webkit-box-shadow: 5px 5px 10px 0px #949494;
  box-shadow: 5px 5px 10px 0px #949494;
}

.flexed, body, .singleBeerDetails .singleBeertTagline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  width: 100vw;
  height: 100vh;
  background: #eee;
}

.beerFullContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75vw;
  height: 75vh;
  overflow-y: auto;
  background: white;
}

.beerFullContainer .singleBeer {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 0.125rem;
}

.beerFullContainer .singleBeer .beerPhoto {
  width: 15rem;
  height: 15rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.beerFullContainer .singleBeer .beerName {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
}

.beerFullContainer .singleBeer:hover {
  cursor: pointer;
}

.singleBeerDetails {
  width: 75vw;
  height: 75vh;
  overflow-y: auto;
  background: white;
  position: fixed;
  z-index: 1;
  padding: 1rem;
}

.singleBeerDetails .singleLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.singleBeerDetails .closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
}

.singleBeerDetails .closeIcon svg {
  width: 1rem;
  height: 1rem;
  fill: #383838;
}

.singleBeerDetails .closeIcon:hover svg {
  fill: #949494;
}

.singleBeerDetails .closeIcon:hover svg {
  fill: darkorange;
}

.singleBeerDetails .singleBeerName {
  margin-top: 1rem;
  font-size: 2rem;
  color: darkorange;
  font-weight: bold;
  margin-bottom: 3rem;
}

.singleBeerDetails .singleBeerImage {
  width: 15rem;
  height: 15rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.singleBeerDetails .singleBeerDescription {
  width: calc(100% - 18rem);
  color: #383838;
}

.singleBeerDetails .singleBeertTagline {
  color: #949494;
  background: #eee;
  padding: 1rem;
  margin-bottom: 2rem;
  font-style: italic;
  font-size: 1.5rem;
}

.singleBeerDetails .singleBeertFood_pairing {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=styles.css.map */