#content{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    /* grid-column-gap: 20px;
    grid-row-gap: 20px; */
    grid-template-areas: 
      "col1 col1"
      "col1 col1"
      "col1 col1"
      "col2 col2"
      "col2 col2"
      "col3 col3"
      ;
}

.col1{
  grid-area: col1;
  background-color: aqua;
  border: solid;
  text-align: center;
}

.col2{
  grid-area: col2;
  background-color: mediumseagreen;
  border: solid;
  text-align: center;
}

.col3{
  grid-area: col3;
  background-color: tomato;
  border: solid;
  text-align: center;
}

@media (min-width:900px){
    #content{
      grid-template-columns: 100px 100px 100px 100px 100px 100px;
      grid-template-rows: 100px 100px 100px 100px 100px 100px;
      grid-template-areas: 
        "col1 col1 col1 col1 col1 col1"
        "col2 col2 col2 col2 col3 col3";
  }  
}